@model Producto

@{
    ViewData["Title"] = Model.NombreProducto;
}

<link rel="stylesheet" href="~/css/customProduct.css" asp-append-version="true" />

<div class="card-wrapper" style="position: relative; margin-top: -920px; margin-bottom: 50px">
    <div class="card">
        <!-- card left -->
        <div class="product-imgs">
            <div class="img-display">
                <div class="img-showcase">
                    <img src="@Model.ImagenUrl1" alt="product image" />
                </div>
            </div>
        </div>
        <!-- card right -->
        <div class="product-content">
            <h2 class="product-title">@Model.NombreProducto</h2>
            <div class="product-rating">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
                <span>4.7(21)</span>
            </div>

            <div class="product-price">
                <p class="new-price">Precio: <span>$@Model.Precio</span></p>
            </div>

            <div class="product-detail">
                <h2>Acerca de este producto: </h2>
                <p>@Model.Descripcion</p>
                <ul>
                    <li>Disponible : 
                        @if (Model.Cantidad > 0) 
                        { 
                            <span>En Stock</span>
                        }
                        else
                        {
                            <span>Sin Stock</span>
                        }
                    </li>
                    <li>Cantidad : <span>@Model.Cantidad</span></li>
                    <li>Categoria: <span>Papeleria</span></li>
                </ul>
            </div>

            <div class="purchase-info">
                <input type="number" min="0" value="1">
                <button type="button" class="btn">
                    Agregar al carrito <i class="bi bi-cart2"></i>
                </button>
                <button type="button" class="btn">Comprar ahora</button>
            </div>


        </div>
    </div>
</div>