@model IEnumerable<Producto>

@{
    ViewData["Title"] = "Pagina Principal";
}

<div class="text-center">
   <h1 style="color:#fff; position: relative; margin-top: -800px; margin-bottom: 50px">Productos mas vendidos</h1>
</div>

<partial name="Producto" model="Model" />