@model IEnumerable<Producto>

@{
    ViewData["Title"] = "Home";
}

<div class="text-center" style="color:#fff; position: relative; margin-top: -820px; margin-bottom: 50px">
    <h1 class="display-4">Acerca de nosotros</h1>
    <h3>Somos una empesa dedicada al rapido manejo y distribucion de productos de papeleria, ademas del cuidado del medio ambiente 
        ya que utilizamos productos hechos 100% de materiables degradables, nuestro objetivo principal es que por cada compra hecha
        en nuestra sucursal, por mas pequeña que sea la compra, se plante un arbol, ademas de fomentar el cuidado del medio ambiente</h3>

    <img id="foto" src="~/imagenes/ipn.png" alt="Foto del IPN" />
</div>

<div class="text-center">
   <h1 style="color:#000; position: relative;">Productos mas vendidos</h1>
</div>

<partial name="Producto" model="Model" />