@{
    ViewData["Title"] = "Catalago de Productos";
}

<div class="text-center" style="color: #fff; position: relative; margin-top: -820px; margin-bottom: 30px;">
    <h1>Productos</h1>
</div>


<partial name="Producto" model="Model" />