@{
}

<link rel="stylesheet" href="~/css/customProduct.css" asp-append-version="true" />

<div class="card-wrapper" style="position: relative; margin-top: -820px; margin-bottom: 50px">
    <partial name="Producto" model="Model" />
</div>