@model IEnumerable<Producto>

@{
    ViewData["Title"] = "Administrar Inventario";
}

<table class="table table-dark table-bordered" style="margin-top: -820px; position: relative;">
    <thead>
        <tr class="table-info" style="color: #000">
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Precio</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Actualizar</th>
            <th scope="col">Eliminar</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var producto in Model)
        {
            <tr>
                <form asp-action="AdministrarInventario">
                <td><input style="background: #343a40; color: #fff; width: 30px; border: none;" type="number" readonly name="Id" value="@producto.IdProducto"/></td>
                <td>@producto.NombreProducto</td>
                <td><input style="width: 100px; background: #343a40; color: #fff;" type="number" step="0.01" value="@producto.Precio" name="Precio"/></td>
                <td><input style="width: 100px; background: #343a40; color: #fff;" type="number" value="@producto.Cantidad" name="Cantidad"/></td>
                <td><button class="btn btn-primary" name="Accion" value="Update">Actualizar</button></td>
                <td><button class="btn btn-danger" name="Accion" value="Delete">Eliminar</button></td>
                </form>
            </tr>
        }
    </tbody>
</table>