@{
    ViewData["Title"] = "Administracion";
}

<div clas="container" style="position: relative; margin-top: -820px;">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card h-100" style="border-radius: 15px 15px; box-shadow:0 5px 5px 0 gray;">

                <img src="~/imagenes/Productos.jpg" class="card-img-top" alt="Imagen proyecto" style="border-radius: 15px 15px;" />
                <div class="card-body">
                    <h5 class="card-title">Agregar Producto</h5>
                    <p class="card-text">Agrega un producto a la lista</p>
                </div>

                <div class="card-footer">
                    <a class="btn btn-primary" asp-action="AgregarProducto" rel="noopener noreferrer">Agregar</a>
                </div>

            </div>
        </div>

        <div class="col">
            <div class="card h-100" style="border-radius: 15px 15px; box-shadow:0 5px 5px 0 gray;">

                <img src="~/imagenes/Transacciones.jpg" class="card-img-top" alt="Imagen proyecto" style="border-radius: 15px 15px;" />
                <div class="card-body">
                    <h5 class="card-title">Ver Transacciones</h5>
                    <p class="card-text">Ver todas las compras realizadas</p>
                </div>

                <div class="card-footer">
                    <a class="btn btn-primary" asp-action="VerTransacciones" rel="noopener noreferrer">Ver</a>
                </div>

            </div>

        </div>

        <div class="col">
            <div class="card h-100" style="border-radius: 15px 15px; box-shadow:0 5px 5px 0 gray;">

                <img src="/imagenes/Inventario.jpg" class="card-img-top" alt="Imagen proyecto" style="border-radius: 15px 15px;" />
                <div class="card-body">
                    <h5 class="card-title">Administrar inventario</h5>
                    <p class="card-text">Agrega un producto a la lista</p>
                </div>

                <div class="card-footer">
                    <a class="btn btn-primary" asp-action="AdministrarInventario" rel="noopener noreferrer">Administrar</a>
                </div>

            </div>
        </div>
    </div>
</div>